nav {
  padding: 25px;
  /* background-color: #000000; */
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #43655A;
}

nav a:hover {
  text-decoration: underline;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input {
  padding: 8px;
  margin-left: 10px;
}

button {
  padding: 10px 15px;
  background-color: #43655A;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #43655A;
}

.logo {
  position: absolute; /* Absolute position */
  top: 10px; /* Top margin space */
  right: 20px; /* Left margin space */
  font-size: 24px; /* Larger text for visibility */
  color: #43655A; /* Dark color for contrast */
}

html, body {
  height: 100%; /* Full height for the body */
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Full height for the body
nav {
  background-color: #282c34;
  padding: 1em;
  text-align: center;
}
*/
footer {
  background-color: #43655A;
  color: white;
  text-align: center;
  padding: 60px;
  margin-top: auto; /* Pushes the footer to the bottom */
}

/* Additional styling as previously defined */
