nav {
  padding: 25px;
  /* background-color: #000000; */
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #43655A;
}

nav a:hover {
  text-decoration: underline;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input {
  padding: 8px;
  margin-left: 10px;
}

button {
  padding: 10px 15px;
  background-color: #43655A;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #43655A;
}

.logo {
  position: absolute; /* Absolute position */
  top: 10px; /* Top margin space */
  right: 20px; /* Left margin space */
  font-size: 24px; /* Larger text for visibility */
  color: #43655A; /* Dark color for contrast */
}

html, body {
  height: 100%; /* Full height for the body */
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Full height for the body
nav {
  background-color: #282c34;
  padding: 1em;
  text-align: center;
}
*/
/*footer {*/
/*  background-color: #43655A;*/
/*  color: white;*/
/*  text-align: center;*/
/*  padding: 60px;*/
/*  margin-top: auto; !* Pushes the footer to the bottom *!*/
/*}*/

footer {
  background-color: #43655A; /* Dark green background to match the theme */
  color: white; /* White text for contrast */
  padding: 60px;; /* Padding on top and bottom */
  display: flex;
  justify-content: center; /* Center content horizontally */
  flex-wrap: wrap; /* Allows items to wrap as needed */
  gap: 20px; /* Space between each element */
  font-size: 16px; /* Adjust font size as needed */
  margin-top: auto;
}

footer a {
  color: white; /* White text color */
  text-decoration: none; /* Removes underline */
  padding: 5px 10px; /* Padding for better clickability */
  transition: color 0.3s; /* Smooth color transition for hover effect */
}

footer a:hover {
  color: #a0e7e5; /* Light blue for hover state */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  footer {
    flex-direction: column; /* Stack the links on small screens */
    align-items: center; /* Center align the links */
    text-align: center; /* Center text alignment */
    gap: 10px; /* Smaller gap on small screens */
  }
}

/* Additional styling as previously defined */
